<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCENE WEAVER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1 onclick="location.reload();">Scene Weaver</h1>
        <nav>
            <!-- Button styled as a Squarespace icon -->
            <a href="{{ url_for('view_rooms') }}" onclick="showLoadingSpinner()">
                <button class="icon-btn">
                    <i class="fa-brands fa-squarespace fa-lg"></i>
                </button>
            </a>
        </nav>
    </header>
    <!-- Genre Selection -->
    <section id="genre-selection">
        <h2>Select your genere to start collaboration</h2>
        <form action="{{ url_for('create_room') }}" method="POST">
            <select name="genre" required>
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
            <button type="submit" onclick="showLoadingSpinner()">Create Room</button>
        </form>
    </section>

    <!-- Search & Browse Section -->
    <section id="search-browse">
        <h2>Explore Existing Projects</h2>
        <input type="text" id="search-bar" placeholder="Search by genre or keyword..."
            oninput="searchProjects(this.value)">
            <div id="projects">
                {% for project in projects %}
                <div class="project-card">
                    <h3>
                        <a href="{{ url_for('project_details', project_id=project.id) }}" class="project-link">
                            {{ project.title }}
                        </a>
                    </h3>
                    <p>Genre: {{ project.genre }}</p>
                    <p>Description: {{ project.description }}</p>
                </div>
                {% endfor %}
            </div>
            
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>